@charset "UTF-8";

:root {
  --heo-white: #fff;
  --heo-white-op: rgba(255, 255, 255, 0.2);
  --heo-black: #000;
  --heo-black-op: rgba(0, 0, 0, 0.2);
  --heo-none: #00000000;
  --heo-gray: #999999;
  --heo-gray-op: #9999992b;
  --heo-vip: #e5a80d;
  --heo-main: var(--heo-theme);
  --heo-main-op: var(--heo-theme-op);
  --heo-main-op-deep: var(--heo-theme-op-deep);
  --heo-main-none: var(--heo-theme-none);
  --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
  --heo-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
  --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
  --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
  --heo-shadow-green: 0 8px 12px -3px #87ee7936;
  --heo-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --heo-snackbar-time: 5s;
}

#page {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

body {
  background: rgb(13, 13, 13);
  position: relative;
  overflow: hidden;
}

#heoMusic-page meting-js .aplayer{
  display: flex;
  flex-direction: row-reverse;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  justify-content: space-between;
}
#page {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}
#music_bg {
  display: none;
  position: fixed;
  z-index: -999;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-position: 0 0;
  rotate: 0;
  background-size: 40%;
  transition: 0.6s;
  background-image: url(/img/cover.webp);
}

#music_bg::before {
  content: '';
  transform: translateZ(0);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  transform: translateZ(0);
  position: fixed;
  z-index: -998;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

body #music_bg{
  display: block;
}

body {
  background: rgb(13, 13, 13);
}

#heoMusic-page {
  max-width: calc(1200px - 160px);
  margin: auto;
  margin-top: 60px;
}

#heoMusic-page meting-js .aplayer {
  display: flex;
  flex-direction: row-reverse;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

body #web_bg {
  filter: blur(63px);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
}
body #footer,
body #nav-music {
  display: none;
}

#heoMusic-page .aplayer-body {
  width: 70%;
  height: 75vh;
}

#heoMusic-page ol > li:hover {
  background: var(--heo-black-op);
  border-radius: 6px;
}
#heoMusic-page .aplayer-pic {
  float: none;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin: auto;
  bottom: 30px;
  left: 90px;
  position: fixed;
  z-index: 999;
  display: none;
}

#heoMusic-page .aplayer-info {
  margin: 0 20px 0 20px;
  border-bottom: none;
}

#heoMusic-page .aplayer-info .aplayer-music {
  text-align: center;
  height: auto;
  margin: 15px;
  display: none;
}

#heoMusic-page .aplayer-info .aplayer-music .aplayer-author,
#heoMusic-page .aplayer-info .aplayer-music .aplayer-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

#heoMusic-page .aplayer-info .aplayer-lrc {
  padding-top: 240px;
  height: var(--vh);
  mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
}

#heoMusic-page .aplayer-info .aplayer-lrc p {
  font-size: 36px;
  line-height: 44px;
  height: 44px;
  margin-bottom: 36px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  filter: blur(2px);
  opacity: 0.3;
  transition: all 0.9s cubic-bezier(0.56, 0.17, 0.22, 0.76);
  user-select:none;
  text-shadow: 0px 2px 0px #ffffff00;
}
#heoMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
  filter: blur(0px);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.56, 0.17, 0.22, 0.76), text-shadow 8s 4s ease-in;
  height: fit-content;
  text-shadow: 0px 2px 16px #ffffff94;
}

#heoMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current:first-child {
  text-shadow: 0px 2px 16px #ffffff00;
}

@media screen and (min-width: 768px) {
  #heoMusic-page .aplayer-info .aplayer-lrc:hover p {
    filter: blur(0px);
  }
}

#heoMusic-page .aplayer .aplayer-lrc:after,
#heoMusic-page .aplayer .aplayer-lrc:before {
  display: none;
}

.aplayer .aplayer-lrc .aplayer-lrc-contents {
  width: 90%;
  margin-left: auto;
  transition: all .5s cubic-bezier(0.49, 0.21, 0.22, 0.84);
  position: relative;
}

@media screen and (max-width: 768px) {
  .aplayer .aplayer-lrc .aplayer-lrc-contents {
    width: 100%;
  }
}

/* 控制器 */
#heoMusic-page .aplayer-info .aplayer-controller {
  position: fixed;
  max-width: calc(1200px - 160px);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  align-items: center;
}
#heoMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  margin: 0 160px 0 150px;
}
#heoMusic-page .aplayer-info .aplayer-controller .aplayer-played {
  background: var(--heo-white) !important;
}
#heoMusic-page .aplayer-info .aplayer-controller .aplayer-thumb {
  -webkit-transform: none;
  transform: none;
  background: #fff !important;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-back,
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward,
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  display: inline;
  position: fixed;
}
#heoMusic-page .aplayer-info .aplayer-time {
  position: absolute;
  width: 100%;
  bottom: 24px;
  height: 0;
  display: flex;
  justify-content: flex-end;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
  margin-right: 18px;
  margin-top: -8px;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
  position: absolute;
  left: 0;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  position: absolute;
  left: 40px;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
  position: absolute;
  left: 80px;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 15px;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon::before {
  content: '';
  position: absolute;
  padding: 8px;
  top: -6px;
  width: 8px;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
  display: none;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon path {
  fill: var(--heo-white);
  opacity: 0.8;
}

#heoMusic-page .aplayer-list {
  width: 40%;
  max-width: 480px;
  max-height: none !important;
  height: 100%;
  min-width: 200px;
}
#heoMusic-page ol {
  max-height: calc(var(--vh) - 170px)!important;
}
 
#heoMusic-page ol::-webkit-scrollbar-thumb {
  background-color: var(--heo-white-op);
}


#heoMusic-page ol > li {
  font-size: 14px;
  opacity: 0.6;
}
#heoMusic-page ol > li.aplayer-list-light {
  background: var(--heo-black-op);
  border-radius: 6px;
  height: 60px;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

#heoMusic-page ol > li.aplayer-list-light .aplayer-list-index {
  display: none;
}

#heoMusic-page ol > li.aplayer-list-light .aplayer-list-title {
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
  font-weight: bold;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#heoMusic-page ol > li span {
  color: var(--heo-white);
}

#heoMusic-page ol > li.aplayer-list-light .aplayer-list-cur {
  display: none;
}
#heoMusic-page ol > li span.aplayer-list-title {
  line-height: 32px;
}

#heoMusic-page ol > li .aplayer-list-index {
  line-height: 32px;
}

#heoMusic-page ol > li span.aplayer-list-author {
  opacity: 0.6;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width: 40%;
  line-height: 32px;
}

#heoMusic-page ol > li.aplayer-list-light span.aplayer-list-author {
  max-width: 100%;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  height: 8px;
  border-radius: 8px;
  background: var(--heo-white-op);
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  background: var(--heo-white-op);
  height: 8px;
  border-radius: 8px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 8px;
  border-radius: 8px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  height: 16px;
  width: 16px;
}

/* 导航栏 */
.page #nav {
  backdrop-filter: none !important;
  background: 0 0 !important;
  border-bottom: none !important;
}

.page #page-header.not-top-img #nav a,
.page #page-header #nav .back-home-button {
  color: var(--heo-white);
}

body .s-sticker div {
  color: var(--heo-white) !important;
}

body .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop {
  margin-right: 7px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: var(--heo-white);
}

[data-theme="dark"] .page #page-header:before {
  background-color: transparent;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap:hover .aplayer-volume-bar-wrap {
  height: 120px;
  border-radius: 40px;
  width: 30px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap {
  width: 30px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar {
  width: 100%;
  height: 100%;
  left: 0;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar .aplayer-volume {
  width: 100%;
  background: var(--heo-white)!important;
}

/* **** 移动端样式 ***** */
@media screen and (max-width: 768px) {
  body #rightside {
    display: none;
  }
  body #content-inner,
  body #page {
    z-index: auto;
  }
  /* 歌曲列表 */
  #heoMusic-page .aplayer-list {
    position: fixed;
    z-index: 1002;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: var(--heo-white);
    border-radius: 16px 16px 0px 0px;
    padding: 15px 0px;
    max-width: 100%;
    height: calc(var(--vh) - 200px);
  }
  #heoMusic-page .aplayer-list.aplayer-list-hide {
    bottom: -100% !important;
  }
  #heoMusic-page ol {
    max-height: 100%!important;
    padding-right: 3px;
    padding-left: 8px;
  }
  #heoMusic-page ol > li {
    display: flex;
  }
  #heoMusic-page ol > li span {
    color: var(--font-color);
  }
  #heoMusic-page ol > li span.aplayer-list-title {
    width: 30%;
  }
  #heoMusic-page ol > li.aplayer-list-light {
    background: #33a673;
    padding: 5px 20px;
    border-radius: 10px;
    height: 52px;
    justify-content: center;
  }
  #heoMusic-page ol > li.aplayer-list-light .aplayer-list-title {
    margin-top: 4px;
  }
  #heoMusic-page ol > li.aplayer-list-light span {
    color: #fff;
  }
  #heoMusic-page ol > li span.aplayer-list-title {
    max-width: 55%;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  #heoMusic-page ol > li span.aplayer-list-author {
    right: 10px;
    width: auto;
    max-width: 35%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-left: auto;
  }
  #heoMusic-page ol > li.aplayer-list-light span.aplayer-list-author {
    margin-left: 0;
  }

  #heoMusic-page ol > li.aplayer-list-light span.aplayer-list-author {
    right: 15px;
  }
  /* 歌词信息 */
  #heoMusic-page .aplayer-body {
    width: 100%;
    overflow: hidden;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    height: calc(var(--vh) - 200px);
  }
  #heoMusic-page .aplayer-info .aplayer-lrc {
    margin-top: 0;
    height: auto;
    min-height: 100%;
    mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);
  }
  /* 控制按键和进度条 */
  #heoMusic-page .aplayer-info .aplayer-controller {
    width: 100%;
    bottom: 120px;
  }
  #heoMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 32px;
  }
  #heoMusic-page .aplayer-info .aplayer-time {
    bottom: -40px;
    align-items: center;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
    position: absolute;
    width: 100%;
    margin-right: 4px;
    margin-top: -60px;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
    position: absolute;
    right: 30px;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
    position: absolute;
    left: 44px;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
    margin: auto;
    right: 110px;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
    margin: auto;
    right: 0;
    left: 0;
    width: 56px;
    height: 56px;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
    margin: auto;
    left: 110px;
    right: 0;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-order {
    position: absolute;
    left: 22px;
    width: 24px;
    height: 24px;
    opacity: 0.4;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-loop {
    position: absolute;
    right: 25px;
    width: 24px;
    height: 24px;
    opacity: 0.4;
  }
  #heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
    display: inline;
    position: absolute;
    right: 30px;
    top: -100px;
    width: 24px;
    height: 24px;
    opacity: 0.4;
  }
  #heoMusic-page .aplayer-volume-bar-wrap {
    bottom: 0px;
    right: 7px;
  }
  #heoMusic-page .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
    left: -66px;
    display: none;
  }
  #heoMusic-page .aplayer-info .aplayer-lrc {
    padding-top: 100px;
  }

  #heoMusic-page .aplayer-info .aplayer-lrc p {
    font-size: 32px;
    margin-bottom: 38px;
    line-height: 42px;
    height: 42px;
  }
  #heoMusic-page .aplayer-info .aplayer-music {
    display: flex;
    position: fixed;
    top: calc(var(--vh) - 178px);
    left: 0;
    margin: 0;
    margin-left: 32px;
    height: 21px;
    max-width: calc(100vw - 110px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
    align-items: center;
    line-height: 1;
  }

  #heoMusic-page .aplayer-info .aplayer-music .aplayer-title {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    line-height: 1;
  }

  #heoMusic-page .aplayer-info .aplayer-music .aplayer-author {
    margin-left: 4px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
  }

  #heoMusic-page .aplayer-info .aplayer-music .aplayer-author,
  #heoMusic-page .aplayer-info .aplayer-music .aplayer-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 176px);
  }

  .aplayer .aplayer-lrc {
    overflow: inherit;
  }
}