root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space

[*.md]
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false

[*.php]
indent_size = 4
insert_final_newline = true
